*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background: rgb(120, 204, 145);
}
nav{
    width: 100%;
    height: 10vh;
    background-color: rgb(80, 182, 230);
    margin: auto;
}
ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding: 2vh;
}
li{
    
    font-size: 4vh;
    color: white;
}

header{
    height: 100vh;
    position: relative;
    overflow: hidden;
   

    display: flex;
    justify-content: center;
    align-items: center;
}

header img{
    position: absolute;
    width: 100%;
    bottom: 0;
}
.capa5{
    bottom: 0;
    transition:  all .1s ease-in-out;
    right: 50;
}
.capa4{
    bottom: 0;
    transition:  all .0s ease-in-out;
    right: 50;
}

.titulo{
    color: aliceblue;
    font-size: 10vh;

    position: absolute;
    top: 25%;
    right: 0;

    transform: translateY("-50%");

    z-index: 100;
    margin: 2vh;

    transition: right  .3s  ease-in-out;
    
}

main{
    height: 100vh;
}